* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: black;
}
.home {
    background: url(./img/bg.jpg);
    max-width: 100vw;
    height: 100vh;
    border: 5px solid black;
    color: white;
}
.nav-links {
    float: right;
    margin: 10px;
}
.nav-links ul li {
    display: inline-block;
}
.nav-links ul li a {
    display: inline-block;
    height: 40px;
    padding: 15px;
    text-decoration: none;
}
.nav-links ul li a:link {
    color: white;
}
.nav-links ul li a:visited {
    color: white;
}
.nav-links ul li a:hover {
    color: yellow;
    transition: 1.5s;
}
.nav-links ul li a:active {
    color: skyblue;
    transition: 0s;
}
.intro-text {
    max-width: 45vw;
    max-height: 70vh;
    /* min-width: 10vw; */
    position: absolute;
    top: 30%;
    left: 5%;
}
.intro-text h1{
    font-size: 3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 2px yellow
}
.intro-text p {
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.intro-text h1, p {
    padding: 10px;
}
.intro-pics {
    position: absolute;
    top: 25%;
    left: 50%;
}
.intro-pics img{
    /* min-width: 40vw; */
    max-width: 50vw;
    max-height: 70vh;
}
.about {
    content: "";
    clear: both;
    display: table;
    margin: 8vw;
    padding: 8vw;
    background: rgb(98, 101, 104);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif
    /* Use Happy Birthday Background */
}
.about-img img{
    float: left;
    width: 300px;
    height: auto;
    margin: 20px;
}
.about-text {
    font-size: 1em;
    /* margin: 20px; */
    text-align: justify;
    line-height: 40px;
    font-size: larger;
}
.gallery {
    /* margin: 3vw; */
    color: white;
}
.title {
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 8vw;
}
.title img {
    padding: 15px 0px 40px 0px;
    box-sizing: content-box;
    width: 68px;
    height: 80px;
}
.images {
    display: inline-block;
    max-width: 70vw;
    margin: 0px auto;
}
.images div  {
    /* width: 400px; */
    /* height: 100px; */
    /* flex: 1 1 0%; */
    /* float: left; */
    /* align-content: center; */
    float: left;
}
.testimonials {
    clear: both;
    display: block
}